<div class="container" *ngIf="product != undefined">
  <article class="card-plain mx-auto d-flex flex-row align-items-center">
    <div class="d-block" style="max-width: 144px;">
      <img class="w-100 mx-auto col-md-6 col-sm-12"
           ngSrc="/assets/img/products/product_image_1.png"
           alt="chair" [width]="132" [height]="161" style="max-width: 132px; max-height: 161px; padding: 2px">
      <img class="w-100 mx-auto col-md-6 col-sm-12"
           ngSrc="/assets/img/products/product_image_2.png"
           alt="chair" [width]="132" [height]="161" style="max-width: 132px; max-height: 161px; padding: 2px">
      <img class="w-100 mx-auto col-md-6 col-sm-12"
           ngSrc="/assets/img/products/product_image_3.png"
           alt="chair" [width]="132" [height]="161" style="max-width: 132px; max-height: 161px;  padding: 2px">
      <img class="w-100 mx-auto col-md-6 col-sm-12"
           ngSrc="/assets/img/products/product_image_4.png"
           alt="chair" [width]="132" [height]="161" style="max-width: 132px; max-height: 161px;  padding: 2px">
    </div>
    <div class="row g-0">
      <div class="col-md-6">
        <img class="w-100 mx-auto col-md-6 col-sm-12"
             [ngSrc]="product.image"
             alt="chair" [width]="599" [height]="759">
      </div>
      <div class="col-md-6 d-block align-self-center">
        <div class="card-body">
          <h5 class="card-title"
              style="font-size: 70px; font-weight: 400; font-family: Lucida Fax,serif; color: black">{{product.title}}</h5>
          <h5 class="" style="font-weight: 300; font-size: 22px; margin-bottom: 43px">$1,419</h5>
          <div [innerHTML]="product.description" class="text-black">
          </div>
          <div class="row mt-4">
            <div class="d-flex flex-row g-5 priceBlock">
              <input type="radio" class="btn-check" name="price" id="price_20_ml" autocomplete="off" (change)="selectedPrice = 'price_20_ml'">
              <label class="btn btn-outline-info" [ngClass]="{'border-bottom': selectedPrice === 'price_20_ml'}" for="price_20_ml">20 ml</label>
              <input type="radio" class="btn-check" name="price" id="option2" autocomplete="off" (change)="selectedPrice = 'price_50_ml'">
              <label class="btn btn-outline-info" for="option2" [ngClass]="{'border-bottom': selectedPrice === 'price_50_ml'}">50 ml</label>
              <input type="radio" class="btn-check" name="price" id="option3" autocomplete="off" (change)="selectedPrice = 'price_100_ml'">
              <label class="btn btn-outline-info" for="option3" [ngClass]="{'border-bottom': selectedPrice === 'price_100_ml'}">100 ml</label>
            </div>
            <div class="col-lg-5 d-flex align-items-center ">
              <label class="col-md-6 text-center">Quantity</label>
              <input class="form-control col-md-6" name="choices-quantity" id="choices-quantity" [(ngModel)]="quantity"
                     type="number"/>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-5">
              <button class="btn btn-primary mb-0 mt-lg-auto w-100 border-radius-0" type="button" name="button"
                      (click)="addToCart()">Add to
                cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <ul class="nav nav-pills mb-3 bg-white d-flex justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item nav-pill-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true">HISTOIRE
      </button>
    </li>
    <li class="nav-item nav-pill-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
              type="button" role="tab" aria-controls="pills-profile" aria-selected="false">NOTES OLFACTIVES
      </button>
    </li>
    <li class="nav-item nav-pill-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
              type="button" role="tab" aria-controls="pills-contact" aria-selected="false">AVIS
      </button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
         tabindex="0">
      <article class="card-plain mx-auto d-flex flex-row align-items-center">
        <div class="row g-5">
          <div class="col-md-6">
            <img class="w-100 mx-auto col-md-6 col-sm-12"
                 [ngSrc]="historyImage !== undefined ? historyImage.toString() : ''"
                 alt="chair" [width]="500" [height]="700">
          </div>
          <div class="col-md-6 d-block align-self-center">
            <div class="card-body">
              <h5 class="card-title history-title"
                  style="font-size: 70px; font-weight: 400; font-family: Lucida Fax,serif">Histoire du parfum</h5>
              <div style="" [innerHTML]="product.history?.content"></div>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
      <article class="card-plain mx-auto d-flex flex-row align-items-center">
        <div class="row g-0">
          <div class="col-md-6">
            <img class="w-100 mx-auto col-md-6 col-sm-12"
                 [ngSrc]="olfactionImage !== undefined  ? olfactionImage.toString() : ''"
                 alt="chair" [width]="664" [height]="633">
          </div>
          <div class="col-md-6 d-block align-self-center">
            <div class="card-body  ps-4">
              <h5 class="card-title history-title"
                  style="font-size: 70px; font-weight: 400; font-family: Lucida Fax,serif"> Notes olfactives </h5>
              <div [innerHTML]="product.olfaction?.content"></div>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="tab-pane fade " id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">...
      <div class="d-block w-75 mx-auto">
        <div class="d-flex justify-content-around flex-fill mb-3" *ngFor="let comment of comments">
          <div class="d-block container">
            <h6 class="title-comment">{{comment.client.first_name}} {{comment.client.last_name}}</h6>
            <p class="content-comment">{{comment.content}}</p>
          </div>
          <div class="d-block flex-fill">
            <div class="d-flex w-100 justify-content-end" style="margin-bottom: 8px">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" viewBox="0 0 28 26" fill="black"
              >
                <path
                  d="M14 0L17.1432 9.67376H27.3148L19.0858 15.6525L22.229 25.3262L14 19.3475L5.77101 25.3262L8.9142 15.6525L0.685208 9.67376H10.8568L14 0Z"
                  fill="black"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" viewBox="0 0 28 26" fill="black"
              >
                <path
                  d="M14 0L17.1432 9.67376H27.3148L19.0858 15.6525L22.229 25.3262L14 19.3475L5.77101 25.3262L8.9142 15.6525L0.685208 9.67376H10.8568L14 0Z"
                  fill="black"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" viewBox="0 0 28 26" fill="black"
              >
                <path
                  d="M14 0L17.1432 9.67376H27.3148L19.0858 15.6525L22.229 25.3262L14 19.3475L5.77101 25.3262L8.9142 15.6525L0.685208 9.67376H10.8568L14 0Z"
                  fill="black"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" viewBox="0 0 28 26" fill="black"
              >
                <path
                  d="M14 0L17.1432 9.67376H27.3148L19.0858 15.6525L22.229 25.3262L14 19.3475L5.77101 25.3262L8.9142 15.6525L0.685208 9.67376H10.8568L14 0Z"
                  fill="black"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" viewBox="0 0 28 26" fill="black"
              >
                <path
                  d="M14 0L17.1432 9.67376H27.3148L19.0858 15.6525L22.229 25.3262L14 19.3475L5.77101 25.3262L8.9142 15.6525L0.685208 9.67376H10.8568L14 0Z"
                  fill="black"/>
              </svg>
            </div>
            <div class="d-flex justify-content-end">
              <p class="">{{comment.dateComment | date}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="mt-5" style="
font-family: Lucida Fax, serif;
font-size: 50px;
font-weight: 400;
line-height: 59px;
letter-spacing: 0em;
text-align: center;
">Vous aimeriez également...</h2>
<div app-carousel [products]="products" [numberItems]="3"></div>
<div app-newsletter></div>
