<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" class="text-sm text-center text-capitalize">nom de categorie</th>
    <th scope="col" class="text-sm text-capitalize">nombre de produits total</th>
    <th scope="col" class="text-sm text-capitalize">nombre de produits achetées</th>
    <th scope="col" class="text-sm text-capitalize"> nomnre des achats</th>
    <th scope="col" class="text-sm"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="col">#</th>
    <td class="text-sm text-center text-capitalize">nom de categorie</td>
    <td class="text-sm text-center text-capitalize">nombre de produits total</td>
    <td class="text-sm text-center text-capitalize">nombre de produits achetées</td>
    <td class="text-sm text-center text-capitalize"> nomnre des achats</td>
    <td class="text-sm"></td>
  </tr>
  <tr>
    <th scope="col">#</th>
    <td class="text-sm text-center text-capitalize">nom de categorie</td>
    <td class="text-sm text-center text-capitalize">nombre de produits total</td>
    <td class="text-sm text-center text-capitalize">nombre de produits achetées</td>
    <td class="text-sm text-center text-capitalize"> nomnre des achats</td>
    <td class="text-sm"></td>
  </tr>
  <tr>
    <th scope="col">#</th>
    <td class="text-sm text-center text-capitalize">nom de categorie</td>
    <td class="text-sm text-center text-capitalize">nombre de produits total</td>
    <td class="text-sm text-center text-capitalize">nombre de produits achetées</td>
    <td class="text-sm text-center text-capitalize"> nomnre des achats</td>
    <td class="text-sm"></td>
  </tr>
  </tbody>
</table>
