<!--

-->
<div class="multisteps-form" #multistepForm>
  <div class="multisteps-form__progress">
    <button *ngFor="let step of steps; let i = index" class="multisteps-form__progress-btn" title="{{ step }}"
            [class.js-active]="i <= currentStep" (click)="currentStep = i">
      <span>{{ step }}</span>
    </button>
  </div>
  <div class="multisteps-form__form bg-white p-5 mt-5">
    <div class="card multisteps-form__panel">
      <div class="multisteps-form__content">
        <form class="card p-3 m-auto border-radius-xl bg-white js-active mt-lg-4 mt-xl-7" data-animation="FadeIn"
              style="width: 90%; height: auto" [formGroup]="formGroup" (ngSubmit)="submit($event)">
          <h5 class="font-weight-bolder">Collection Information</h5>
          <div class="row w-100">
            <div class="col-8">
              <div class="row">
                <div class="col-sm-12">
                  <label>label</label>
                  <input class="form-control" type="text" formControlName="label" placeholder="eg. Off-White"/>
                </div>
              </div>
              <div class="row mb-5">
                <div class="d-flex flex-column">
                  <label class="mt-4">Description</label>
                  <editor
                    [formControlName]="'description'"
                    [init]="{
    toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | help'
  }"
                  ></editor>
                </div>
              </div>
              <div class="button-row d-flex w-100 align-items-center justify-content-between mt-2">
                <button class="btn bg-gradient-faded-success w-25 js-btn-next text-white" type="reset" title="Next">
                  annuler
                </button>
                <button class="btn bg-gradient-faded-success w-25 js-btn-next text-white" [disabled]="formGroup.invalid"
                        type="submit" title="Next">
                  valider
                </button>
              </div>
            </div>
            <div class="col-4 d-flex align-items-center flex-column">
              <img src="/assets/img/login.jpg" [width]="40" [height]="50" style="width: 100%; height: 33vh" class="mt-5"
                   alt="collection image"/>
              <label for="image" class="btn bg-gradient-primary mt-3">
                <span>upload the image of the product</span>
                <input style="display: none" (change)="readImage($event)" accept="image/*" type="file" id="image"
                       formControlName="image"/>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
