<div class="multisteps-form" #multistepForm>
  <div class="multisteps-form__progress">
    <button class="multisteps-form__progress-btn" title="0"
            [class.js-active]="0 <= currentStep" (click)="currentStep = 0" [disabled]="product === undefined">
      <span class="text-white" i18n>essential information</span>
    </button>
    <button class="multisteps-form__progress-btn" title="1"
            [class.js-active]="1 <= currentStep" (click)="getHistory()" [disabled]="product === undefined">
      <span class="text-white">History</span>
    </button>
    <button class="multisteps-form__progress-btn" title="2"
            [class.js-active]="2 <= currentStep" (click)="getOlfactionData()" [disabled]="product === undefined">
      <span class="text-white" i18n>Olfaction</span>
    </button>
  </div>
  <div class="multisteps-form__form bg-white p-5 mt-5">
    <div class="card multisteps-form__panel multisteps-form__content" [class.js-active]="currentStep === 0">
      <form class="p-3 mt-lg-4 m-auto" data-animation="FadeIn"
            style="width: 90%;" [formGroup]="formGroup" (ngSubmit)="submit($event)">
        <div class="row w-100">
          <div class="col-8">
            <div class="row">
              <h5 class="font-weight-bolder">Product Information</h5>
              <p class="alert alert-success" *ngIf="this.message !== undefined">{{this.message}}</p>
              <div class="col-md-6 col-sm-12 mb-4">
                <label for="title">label</label>
                <input class="form-control" type="text" formControlName="title" id="title"
                       placeholder="eg. Off-White"/>
              </div>
              <div class="col-md-6 col-sm-12">
                <label for="code">code</label>
                <input class="form-control" type="text" formControlName="code" id="code"
                       placeholder="eg. Off-White"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12 mb-4">
                <label for="collection">Collection</label>
                <select id="collection" class="form-select" formControlName="collection">
                  <option [selected]="formGroup.controls['collection'].getRawValue() === ''">select collection</option>
                  <option [value]="collection.id"
                          [selected]="collection !== undefined && collectionSelected === collection"
                          *ngFor="let collection of collections">{{collection.title}}</option>
                </select>
              </div>
              <div class="col-md-6 col-sm-12 mb-4">
                <label for="promos">Promo</label>
                <select id="promos" class="form-select" formControlName="promo">
                  <option [selected]="formGroup.controls['promo'].getRawValue() === ''">select Promo</option>
                  <option [value]="promo.id" [selected]="formGroup.controls['promo'].getRawValue() === promo.id"
                          *ngFor="let promo of promos">{{promo.title}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <label for="quantity">quantity</label>
                <input class="form-control" type="number" formControlName="current_quantity" id="quantity"
                       placeholder="12"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <label for="price_20_ml">price 20 ml</label>
                <input class="form-control" type="number" formControlName="price" id="price_20_ml"
                       placeholder="12.5"/>
              </div>
              <div class="col-md-4 col-sm-12">
                <label for="price_50_ml">price 50 ml</label>
                <input class="form-control" type="number" formControlName="price" id="price_50_ml"
                       placeholder="12.5"/>
              </div>
              <div class="col-md-4 col-sm-12">
                <label for="price_100_ml">price 100 ml</label>
                <input class="form-control" type="number" formControlName="price" id="price_100_ml"
                       placeholder="12.5"/>
              </div>
            </div>
          </div>
          <div class="col-4 d-flex align-items-center flex-column">
            <img [ngSrc]="imagePath !== undefined ? imagePath : '/assets/img/login.jpg'" [width]="40" [height]="50"
                 style="width: 100%; min-height: 300px"
                 class="mt-5"
                 alt="product image" height="732" width="1000"/>
            <label for="image" class="btn bg-gradient-primary mt-3">
              <span>upload the image of the product</span>
              <input style="display: none" (change)="readImage($event, 'productImage')" accept="image/*" type="file"
                     id="image"
              />
            </label>
          </div>
        </div>
        <div class="row mb-5">
          <div class="d-flex flex-column">
            <label class="mt-4" for="description">Description</label>
            <editor
              id="description"
              [formControlName]="'description'"
              [init]="{
                  menubar: false,
                  base_url: '/tinymce', suffix: '.min',
                  selector: 'textarea',
    toolbar: 'formatselect | bold italic backcolor | p h1 h2 h3 h4 h5 h6 address pre samp forecolor fontsize fontsize_class | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
  }"></editor>
          </div>
        </div>
        <div class="button-row d-flex w-100 align-items-center justify-content-between mt-2"
             [class.js-active]="currentStep === 1">
          <button class="btn bg-gradient-faded-success w-25 js-btn-next text-white" type="reset" title="Next">
            annuler
          </button>
          <button class="btn bg-gradient-faded-success w-25 js-btn-next text-white"
                  [disabled]="formGroup.invalid"
                  type="submit" title="Next">
            valider
          </button>
        </div>
      </form>
    </div>
    <div
      class="card multisteps-form__panel multisteps-form__content"
      [class.js-active]="currentStep === 1" data-animation="FadeIn"
    >
      <form class="p-3 m-auto w-100 mt-lg-4" data-animation="FadeIn" style="min-width: 90%"
            [formGroup]="historyFormGroup"
            (ngSubmit)="createOrEditHistory($event)">
        <input type="hidden" formControlName="product" [value]="product.id" *ngIf="product !== undefined">
        <div class="m-auto row w-100">
          <div class="row">
            <h5 class="font-weight-bolder">History Information</h5>
            <div class="col-8">
              <div class="row">
                <div class="col-sm-12">
                  <label>title</label>
                  <input class="form-control" type="text" formControlName="title" placeholder="eg. Off-White"/>
                </div>
              </div>
              <div class="row mb-5">
                <div class="d-flex flex-column">
                  <label class="mt-4">Content</label>
                  <editor
                    [formControlName]="'content'"
                    [init]="{
                  menubar: false,
                  base_url: '/tinymce', suffix: '.min',
                  selector: 'textarea',
    toolbar: 'formatselect | bold italic backcolor | p h1 h2 h3 h4 h5 h6 address pre samp forecolor fontsize fontsize_class | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
  }"
                  ></editor>
                </div>
              </div>
              <div class="button-row d-flex w-100 align-items-center justify-content-between mt-2">
                <button class="btn bg-gradient-faded-success w-25 js-btn-next text-white" type="reset" title="Next">
                  annuler
                </button>
                <button class="btn bg-gradient-faded-success w-25 js-btn-next text-white"
                        [disabled]="historyFormGroup.invalid"
                        type="submit" title="Next">
                  valider
                </button>
              </div>
            </div>
            <div class="col-4 d-flex align-items-center flex-column">
              <img [ngSrc]="historyImagePath === undefined ? '/assets/img/login.jpg' : historyImagePath" [width]="40"
                   [height]="150" style="width: 100%; min-height: 500px"
                   class="mt-5" alt="collection image" height="732" width="1000"/>
              <label for="imageHistory" class="btn bg-gradient-primary mt-3">
                <span>upload the image of the product</span>
                <input style="display: none" (change)="readImage($event, 'historyImage')" accept="image/*" type="file"
                       id="imageHistory"/>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div
      class="card multisteps-form__panel multisteps-form__content"
      [class.js-active]="currentStep === 2" data-animation="FadeIn"
    >
      <form class="p-3 m-auto w-100 mt-lg-4" data-animation="FadeIn" style="min-width: 90%"
            [formGroup]="olfactionFormGroup"
            (ngSubmit)="createOrEditOlfaction($event)">
        <input type="hidden" formControlName="product" [value]="product.id" *ngIf="product !== undefined">
        <div class="m-auto row w-100">
          <div class="row">
            <h5 class="font-weight-bolder">Olfactive Information</h5>
            <div class="col-8">
              <div class="row">
                <div class="col-sm-12">
                  <label>title</label>
                  <input class="form-control" type="text" formControlName="title" placeholder="eg. Off-White"/>
                </div>
              </div>
              <div class="row mb-5">
                <div class="d-flex flex-column">
                  <label class="mt-4">Content</label>
                  <editor
                    [formControlName]="'content'"
                    [init]="{
                  menubar: false,
                  base_url: '/tinymce', suffix: '.min',
                  selector: 'textarea',
    toolbar: 'formatselect | bold italic backcolor | p h1 h2 h3 h4 h5 h6 address pre samp forecolor fontsize fontsize_class | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
  }"
                  ></editor>
                </div>
              </div>
              <div class="button-row d-flex w-100 align-items-center justify-content-between mt-2">
                <button class="btn bg-gradient-faded-success w-25 js-btn-next text-white" type="reset" title="Next">
                  annuler
                </button>
                <button class="btn bg-gradient-faded-success w-25 js-btn-next text-white"
                        type="submit" title="Next">
                  valider
                </button>
              </div>
            </div>
            <div class="col-4 d-flex align-items-center flex-column">
              <img [ngSrc]="olfactionImagePath === undefined ? '/assets/img/login.jpg' : olfactionImagePath"
                   [width]="40" [height]="150" style="width: 100%; min-height: 500px"
                   class="mt-5" alt="collection image" height="732" width="1000"/>
              <label for="imageOlfaction" class="btn bg-gradient-primary mt-3">
                <span>upload the image of the product</span>
                <input style="display: none" (change)="readImage($event, 'olfactionImage')" accept="image/*" type="file"
                       id="imageOlfaction"/>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
