<div class="page-header align-items-start min-vh-50 "
     style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/lock-cover.jpg');">
  <span class="mask bg-gradient-dark opacity-6"></span>
</div>
<div class="container">
  <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
    <article class="card mx-auto">
      <div class="card-body">
        <h5 class="mb-4">Product Details</h5>
        <div class="row">
          <div class="col-xl-5 col-lg-6 text-center">
            <img class="w-100 border-radius-lg shadow-lg mx-auto"
                 src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/product-thumb.jpg"
                 alt="chair">
          </div>
          <div class="col-lg-5 mx-auto">
            <h3 class="mt-lg-0 mt-4">Apple Bundle</h3>
            <div class="rating">
              <i class="fas fa-star" aria-hidden="true"></i>
              <i class="fas fa-star" aria-hidden="true"></i>
              <i class="fas fa-star" aria-hidden="true"></i>
              <i class="fas fa-star" aria-hidden="true"></i>
              <i class="fas fa-star-half-alt" aria-hidden="true"></i>
            </div>
            <br>
            <h6 class="mb-0 mt-3">Price</h6>
            <h5>$1,419</h5>
            <span class="badge badge-success">In Stock</span>
            <br>
            <label class="mt-4">Description</label>
            <ul>
              <li>The most beautiful curves of this swivel stool adds an elegant touch to any environment</li>
              <li>Memory swivel seat returns to original seat position</li>
              <li>Comfortable integrated layered chair seat cushion design</li>
              <li>Fully assembled! No assembly required</li>
            </ul>
            <div class="row mt-4">
              <div class="col-lg-2">
                <label>Quantity</label>
                <select class="form-control" name="choices-quantity" id="choices-quantity">
                  <option value="Choice 1" selected="">1</option>
                  <option value="Choice 2">2</option>
                  <option value="Choice 3">3</option>
                  <option value="Choice 4">4</option>
                  <option value="Choice 5">5</option>
                  <option value="Choice 6">6</option>
                  <option value="Choice 7">7</option>
                  <option value="Choice 8">8</option>
                  <option value="Choice 9">9</option>
                  <option value="Choice 10">10</option>
                </select>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-lg-5">
                <button class="btn btn-primary mb-0 mt-lg-auto w-100" type="button" name="button">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
