<img ngSrc="/assets/img/philosophie/imagephilosophie1.jpg" alt="image for philosophie"
     style="max-width: 100%; height: 300px" [height]="1669" [width]="2500"/>
<div class="container mx-auto mt-5">
  <h2 style="
font-family: Lucida Fax;
font-size: 50px;
font-weight: 400;
line-height: 82px;
letter-spacing: 0em;
text-align: center;
">Artistic House of Luxury Fragrance</h2>
  <p style="
font-family: Proxima Nova;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: center;
">
    Stephane Humbert Lucas Paris is a field of expression for its creator and a way for him to free his artistic
    sensibility and his overflowing creativity where no marketing concessions are welcome. Each creation starts with a
    blank canvas where touches of colour, musical notes, poetry and images will be progressively inscribed.The permanent
    inspiration drawn from painting, literature and music sets the tone and imposes a selection of the most beautiful
    raw materials of fine perfumery.The process can finally begin. Both the harmony and the roughness are beautifully
    confronted as a result of the creator’s need to place perfumery as a major art.
  </p>
</div>
<div class="container mx-auto">
  <video class="w-100" src="/assets/img/philosophie/SHL_2m30_H264_180907.mp4.mp4" controls></video>
  <h3 class="">TITRE DE LA VIDEO</h3>
  <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le
    Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</p>
</div>
<img ngSrc="/assets/img/philosophie/imagephilosophie1.jpg" alt="image for philosophie"
     style="max-width: 100%; height: 300px; margin-top: 5%" [height]="1669" [width]="2500"/>
<div class="container mx-auto mt-5">
  <h3 class="text-center">Synesthete Parisian Perfumer</h3>
  <p class="text-center text-sm">Painter and poet, Stéphane Humbert Lucas studied painting in the South of France with a
    Flemish master and specialised in the tempera technique where he was obsessed with the combination of pigments and
    their texture.
    Convinced that every colour had a scent, he discovered his synethesia, a perceptual phenomenon in which the
    stimulation of his sight simultaneously triggers his sense of smell at the same time.Mixing colours was then a way
    to master new and unique scents.</p>
  <p class="text-sm-center">
    “I don’t invent scents, I rearrange them and invite them to combine,I’m a matchmaker, a couturier of the
    invisible.Yet, I ‘see’ my fragrances, each material, each accord vibrate with coloursand sometimes these colours
    emit a sound.I don’t invent smell, like I neither invent pink nor indigo, they are present in our unconscious.I ask
    them to live together, to be as beautiful as the other, they are my harmony.”</p>
</div>
<div class="container">
  <h2 class="text-center" style="
font-family: Lucida Fax;
font-size: 50px;
font-weight: 400;
line-height: 59px;
letter-spacing: 0em;
text-align: center;
">EN SAVOIR PLUS</h2>
  <div class="row">
    <div class="col-md-6 col-sm-12 container">
      <div class="card">
        <img ngSrc="/assets/img/philosophie/img.png" class="card-img-top border-radius-0" alt="..." style="max-width: 100%; max-height: 200px" height="744" width="1605">
        <div class="card-body">
          <h5 class="card-title text-center">SHL Artwork</h5>
          <div class="d-flex justify-content-center">
          <a href="/public/philosophie" class="btn btn-primary text-center btn-dark">DÉCOUVRIR</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 container">
      <div class="card border-radius-0 align-items-center justify-content-center d-flex flex-column">
        <img ngSrc="/assets/img/philosophie/img.png" class="card-img-top border-radius-0" alt="..." style="max-width: 100%; max-height: 200px" height="744" width="1605">
        <div class="card-body">
          <h5 class="card-title text-center">Nos collections</h5>
          <div class="d-flex justify-content-center">
          <a href="/public/collections" class="btn btn-primary text-center btn-dark">DÉCOUVRIR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div app-newsletter></div>
