<div class="d-block container-xxl container-fluid">
    <a class="d-flex align-items-center" routerLink="/public/products">
        <svg width="16" height="31" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 1L2 15.5L15 30" stroke="black" stroke-width="2"/>
        </svg>
        <span>Continuer à acheter</span>
    </a>
    <div class="row">
        <div class="col-md-6 col-lg-8 col-sm-12">
            <div class="accordion bg-white" id="accordionExample" style="background-color: #F1F1F1;">
                <div class="accordion-item mb-3">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            1.Panier
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <form class="accordion-body">
                            <div class="bg-white card table table-responsive border-radius-0">
                                <table class="table ">
                                    <caption class="d-none" i18n>list of products to purchase</caption>
                                    <thead style="border: 0">
                                    <tr>
                                        <th scope="col"
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">
                                            Article
                                        </th>
                                        <th id="sku" scope="col"
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-center">
                                            Price
                                        </th>
                                        <th scope="col"
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-center">
                                            Prix
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody style="border: 0">
                                    <tr class="align-items-center w-100 border-0"
                                        *ngFor="let orderLine of orderLines; let i = index">
                                        <td class=" text-center">
                                            <div class="d-flex align-items-center">
                                                <img
                                                        [ngSrc]="orderLine.product.image"
                                                        class="avatar avatar-md" alt="table image" [width]="40"
                                                        [height]="40">
                                                <h5 class="mb-0 text-sm">{{orderLine.product.title}}</h5>
                                            </div>
                                        <td class="text-sm text-secondary text-center p-2">
                                            <div class="d-flex align-items-center align-items-end justify-content-around">
                                                <button class="btn btn-info" (click)="addQuantityToProduct($event, i)">+
                                                </button>
                                                <input class="border-radius-0 border-0 text-center"
                                                       style="height: 50px; vertical-align: middle;"
                                                       [value]="orderLine.quantity"/>
                                                <button class="btn btn-info">-</button>
                                            </div>
                                        </td>
                                        <td class="text-sm text-secondary text-center p-2">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <p class="text-sm text-secondary text-center ">{{orderLine.quantity * orderLine.product.price }}</p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="accordion-item mb-3">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2.Livraison et Contacte
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <form class="container w-100">
                                    <div class="mt-3">
                                        <div class="col-sm-2 col-md-2 col-lg-4 ">
                                            <label><strong>E-mail:</strong></label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                <div class="mt-3">
                                    <h6><strong>Adresse de livraison</strong></h6>
                                </div>
                                <div class="d-flex flex-row w-100">
                                    <div class="form-group mb-2 mx-1 col-sm-4">
                                        <label class="col-form-label"> Titre: </label>
                                        <input type="text" class="form-control ">
                                    </div>
                                    <div class="form-group  mx-2  col-sm-4">
                                        <label class="col-form-label "> Nom :</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group mx-2 col-sm-4">
                                        <label class="col-form-label"> Prénom:</label>
                                        <input type="text" class="form-control">
                                    </div>

                                </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <label>Téléphone: </label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <label>Ligne d'adresse 1:</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <label>Ligne d'adresse 2:</label>
                                        <input type="text" class="form-control">
                                    </div>



                                <div class="d-flex flex-row w-100">
                                    <div class="form-group mb-2 mx-1 col-sm-4 mt-3">
                                        <label class="col-form-label"> Ville : </label>
                                        <input type="text" class="form-control ">
                                    </div>
                                    <div class="form-group  mx-2  col-sm-3 mt-3">
                                        <label class="col-form-label ">Code postal:</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group mx-2 col-sm-2 mt-3 ">
                                        <label class="col-form-label"> Pays:</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="mt-2">
                                    <button type="submit" class="btn btn-dark">CONFIRMER</button>
                                    <div>
                                        <div class="mt-3">
                                            <h6><strong>Adresse de facturation </strong></h6>
                                        </div>
                                        <div class="mb-3 mt-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       id="disabledFieldsetCheck" disabled checked>
                                                <label class="form-check-label" for="disabledFieldsetCheck">
                                                    Utiliser l'adresse de livraison
                                                </label>
                                            </div>
                                        </div>

                                        <div class="mb-3 col-lg-7 mt-3">
                                            <div class="card">
                                                <div class="card-body">

                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="radioOptions"
                                                               id="radioOption1"
                                                               value="option1" checked>
                                                        <label class="form-check-label" for="radioOption1">
                                                            <strong> FREE</strong>
                                                        </label>
                                                        <label style="color: rgb(128,128,128)"> Livraison
                                                            standart</label>
                                                        <label class=" text-secondary "> Livraison gratuite sur toutes
                                                            les commandes de plus de 250€
                                                            dans les 2-4 jours ouvrable</label>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 col-lg-12 mt-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                   name="radioOptions" id="radioOption2"
                                                                   value="option2">
                                                            <label class="form-check-label" for="radioOption2">
                                                                <strong>xx €</strong>
                                                            </label>
                                                            <label class=" text-muted  ">Livraison rapide </label>
                                                            <label class=" text-secondary "> Livré le jour même ou à J+1
                                                                après la commande.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-2">
                                                <button type="submit" class="btn btn-dark">PASSER AU PAIEMENT</button>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. Paiement
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="container-fluid w-100">
                                <div class="mt-3">
                                    <h6><strong>Adresse de livraison</strong></h6>
                                </div>
                                <div style="border: 1px solid #D9D9D9; padding: 4px; width:auto;">
                                    <h6 style="width: 225px;
height: 20px;
top: 888px;
left: 151px;
">Nous acceptons</h6>
                                    <div class="d-flex flex-row mb-3 align-items-center ">
                                        <div class="">
                                            <button class="border-0 bg-transparent me-2">
                                                <img src="/assets/img/paiment/master.png" class="payment-images"/>
                                            </button>
                                        </div>

                                        <div class="">
                                            <button class="border-0 bg-transparent">
                                                <img src="/assets/img/paiment/american-express.png"
                                                     class="payment-images"/>
                                            </button>
                                        </div>

                                        <div class="">
                                            <button class="border-0 bg-transparent">
                                                <img src="/assets/img/paiment/logo-cb%201.png" class="payment-images"/>
                                            </button>
                                        </div>

                                        <div class="">
                                            <button class="border-0 bg-transparent">
                                                <img src="/assets/img/paiment/paypal.png" class="payment-images"/>
                                            </button>
                                        </div>

                                    </div>
                                </div>

                                <div class="mt-3">
                                    <div style="border: 1px solid #D9D9D9; padding: 4px;" class="bg-white p-4">
                                        <div class="d-flex align-items-center w-100">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="radioOptions"
                                                       id="radioOption1" value="option1"
                                                       checked>
                                            </div>
                                            <label class="ms-3 label-carte" style="font-family: Inter, serif;

">Carte</label>
                                        </div>

                                        <form class="d-flex flex-row">
                                            <div class="form-group  mx-1 col-sm-4">
                                                <label class="col-form-label form-label-for-card"> Nom indiquée sur la
                                                    carte</label>
                                                <input type="text" class="form-control border-radius-0">
                                            </div>

                                            <div class="form-group  mx-3  col-sm-4">
                                                <label class="col-form-label form-label-for-card "> Numéro de carte
                                                    : </label>
                                                <input type="text" class="form-control border-radius-0">
                                            </div>
                                        </form>

                                        <!--  Un deuxième formulaire pour indiquer la Date d’expiration  et le Code de sécurité -->
                                        <form class="d-flex flex-row">
                                            <div class="form-group  mx-1 col-sm-3">
                                                <label class="col-form-label form-label-for-card"> Date d’expiration
                                                    : </label>
                                                <input type="text" class="form-control  border-radius-0">
                                            </div>

                                            <div class="form-group  mx-3  col-sm-3">
                                                <label class="col-form-label form-label-for-card"> Code de sécurité
                                                    : </label>
                                                <input type="text" class="form-control border-radius-0">
                                            </div>
                                        </form>

                                    </div>
                                </div>

                                <div class="mb-3 mt-3">
                                    <input class="form-check-input" type="checkbox" disabled checked>
                                    <label class="form-check-label" for="disabledFieldsetCheck">
                                        J’accepte <a class="text-secondary">les Termes et les conditions</a>
                                    </label>
                                </div>

                                <div class="mb-3 mt-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck"
                                               disabled checked>
                                        <label class="form-check-label" for="disabledFieldsetCheck">
                                            Inscrivez-vous à notre newsletter
                                        </label>
                                    </div>
                                    <label class=" text-secondary "> Profitez d’offres exclusives, invitation privées à
                                        nos événements et bien
                                        d’autres.</label>
                                </div>


                                <div class="mt-2">
                                    <button type="submit" class="btn btn-dark">CONFIRMER ET PAYER</button>
                                    <div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-sm-12">

        </div>
    </div>
</div>
