<header class="fixed-top ">
  <nav
    class="navbar navbar-expand-lg position-absolute start-0 end-0"
    [ngClass]="{'pa-header': !scrolled, 'pa-fixed-header': scrolled}">
    <div class="container-fluid ps-2 pe-0 align-content-center">
      <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/"
         style="transition-timing-function: ease; transition-duration: 0.6s; transition-delay: 0.0169014s;">
        <img ngSrc="/assets/img/LUCAS%20HAMBERT.png" alt="Stephane Humbert Lucas" height="50" width="40"/>
      </a>
      <ul class="d-flex justify-content-center align-content-center pt-2 d-lg-none d-block">
              <button class="btn btn-dark" type="button" >
        Login
      </button>
        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
              data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
      </button>
      </ul>
      <div class="collapse navbar-collapse w-100" id="navigation">
        <ul class="navbar-nav navbar-nav-hover mx-auto d-flex justify-content-around w-lg-50">
          <li class="nav-item">
            <a class="nav-link text-white">Welcome to SHL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">Our Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav d-lg-flex justify-content-end d-none">
          <li class="nav-item">
            <a class="btn btn-sm  mb-0 me-1" routerLink="/public/auth/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-sm  mb-0 me-1" routerLink="/public/auth/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
</header>
<main class="main-content main-content-bg mt-0">
  <router-outlet></router-outlet>
</main>
<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-4 mx-auto text-center">
        <a href="javascript:" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Company
        </a>
        <a href="javascript:" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          About Us
        </a>
        <a href="javascript:" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Team
        </a>
        <a href="javascript:" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Products
        </a>
        <a href="javascript:" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Blog
        </a>
        <a href="javascript:" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Pricing
        </a>
      </div>
      <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
        <a href="javascript:" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-dribbble"></span>
        </a>
        <a href="javascript:" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-twitter"></span>
        </a>
        <a href="javascript:" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-instagram"></span>
        </a>
        <a href="javascript:" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-pinterest"></span>
        </a>
        <a href="javascript:" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-github"></span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-8 mx-auto text-center mt-1">
        <p class="mb-0 text-secondary">
          Copyright ©
          <script>
            document.write(new Date().getFullYear())
          </script>
          Soft by Creative Tim.
        </p>
      </div>
    </div>
  </div>
</footer>
