<div class="card min-height-100 mt-5 bg-transparent" id="section">
  <img ngSrc="assets/img/stephane.png" class="card-img w-100"
       style="border-radius: 0; min-width: 100%"
       alt="..." height="1118" width="1736">
  <div class="card-img-overlay container-fluid mt-12 pt-7">
  </div>
</div>
<h2 class="text-center">L’HISTOIRE DE LA MAISON</h2>
<div class="d-flex align-items-center justify-content-center">
  <a class="btn btn-dark" href="/public/histoire">Découvrir</a>
</div>
<div app-newsletter></div>
