.carousel-indicators > button {
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 10px;
}
html
{
  overflow-x: hidden;
}
.slider
{
  display: flex;
  position: absolute;
  width: 300%;
  overflow-x: hidden;
}

.slider-item
{
  width: 400px;
  display: inline-block;
  position: relative;
}
