<section id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
            [ngClass]="{'active': step === 0}"
            aria-current="true" aria-label="Slide 1" (click)="step = 0"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"
            (click)="step = 1" [ngClass]="{'active': step === 1}"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"
            (click)="step = 2" [ngClass]="{'active': step === 2}"></button>
  </div>
  <div class="carousel-inner">
    <article class="carousel-item" [ngClass]="{'active': step === 0}">
      <section class="page-header min-vh-100 d-block" style="background-image: url('/assets/img/carousel1.jpg');">
        <section class="container-fluid  w-sm-100 w-50 mt-10">
          <h1 class="text-white fadeIn1 fadeInBottom text-center w-100">New collection.</h1>
          <section class="carousel-caption mb-5">
            <p class="lead text-white opacity-8 fadeIn2 fadeInBottom">Collecting stories and legends from all over the
              world.
              Finding the beautiful character, the attraction, colour and fragrance, like an Ariadne’s thread. </p>
            <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">
              Making it possible to remain faithful to desire and obsession, and finding the right moult, the right
              combination, the formula, like a saga, an opera, a book of tales.
            </p>
          </section>
        </section>
      </section>
    </article>
    <article class="carousel-item" [ngClass]="{'active': step === 1}">
      <section class="page-header min-vh-100 d-block"
               style="background-image: url('/assets/img/carousel2.png'); background-size: cover; background-repeat: no-repeat">
        <span class="mask" style="background: rgba(229,54,54,0)"></span>
        <section class="container-fluid w-sm-100 w-50 mt-10">
          <h1 class="text-white fadeIn1 fadeInBottom text-center w-100">New collection.</h1>
          <section class="carousel-caption mb-5">
            <p class="lead text-white opacity-8 fadeIn2 fadeInBottom">Collecting stories and legends from all over the
              world.
              Finding the beautiful character, the attraction, colour and fragrance, like an Ariadne’s thread. </p>
            <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">
              Making it possible to remain faithful to desire and obsession, and finding the right moult, the right
              combination, the formula, like a saga, an opera, a book of tales.
            </p>
          </section>
        </section>
      </section>
    </article>
    <article class="carousel-item" [ngClass]="{'active': step === 2}">
      <section class="page-header min-vh-100 d-block"
               style="background-image: url('/assets/img/carousel1.jpg'); background-size: cover">
        <span class="mask" style="background: rgba(229,54,54,0)"></span>
        <section class="container-fluid w-50 mt-10">
          <h1 class="text-white fadeIn1 fadeInBottom text-center w-100">New collection.</h1>
          <section class="carousel-caption mb-5">
            <p class="lead text-white opacity-8 fadeIn2 fadeInBottom">Collecting stories and legends from all over the
              world.
              Finding the beautiful character, the attraction, colour and fragrance, like an Ariadne’s thread. </p>
            <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">
              Making it possible to remain faithful to desire and obsession, and finding the right moult, the right
              combination, the formula, like a saga, an opera, a book of tales.
            </p>
          </section>
        </section>
      </section>
    </article>
  </div>
</section>
<article class="container-xl container-fluid mt-5">
  <h1 class="h1 text-center text-dark">Our Philosophy</h1>
  <article class="card mb-3 mt-3">
    <div class="row">
      <section class="col-md-4 col-sm-12 ">
        <img ngSrc="/assets/img/artistic.jpg" class="img-fluid rounded-start" alt="..." height="818" width="750">
      </section>
      <section class="col-md-8 col-sm-12">
        <div class="card-body">
          <h3 class="h3 card-title mb-lg-5">Artistic House of Luxury Fragrance</h3>
          <p class="text-dark">
            Stephane Humbert Lucas Paris is a field of expression for its creator and a way for him to free his artistic
            sensibility and his overflowing creativity where no marketing concessions are welcome.
            Each creation starts with a blank canvas where touches of colour, musical notes, poetry and images will be
            progressively inscribed. The permanent inspiration drawn from painting, literature and music sets the tone
            and imposes a selection of the most beautiful raw materials of fine perfumery. The process can finally
            begin. Both the harmony and the roughness are beautifully confronted as a result of the creator’s need to
            place perfumery as a major art.
          </p>
        </div>
      </section>
    </div>
  </article>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title text-center text-lg-start">Synesthete Parisian Perfumer</h3>
          <section class="card-body mt-2">
            <p class="card-text">
              Painter and poet, Stéphane Humbert Lucas studied painting in the South of France with a Flemish master and
              specialised in the tempera technique where he was obsessed with the combination of pigments and their
              texture.
            </p>
            <p class="card-text">
              Convinced that every colour had a scent, he discovered his synethesia, a perceptual phenomenon in which
              the stimulation of his sight simultaneously triggers his sense of smell at the same time.
              Mixing colours was then a way to master new and unique scents.
            </p>
              <p class="card-text ">
    “I don’t invent scents, I rearrange them and invite them to combine,
    I’m a matchmaker, a couturier of the invisible.
    Yet, I ‘see’ my fragrances, each material, each accord vibrate with colours
    and sometimes these colours emit a sound.
    I don’t invent smell, like I neither invent pink nor indigo, they are present in our unconscious.
    I ask them to live together, to be as beautiful as the other, they are my harmony.”
  </p>
          </section>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/assets/img/Mood+film+Gold+Blue.jpg" class="img-fluid"
             style="height: 47vh; border-top-right-radius: 12px; border-bottom-right-radius: 12px"
             alt="...">
      </div>
    </div>
  </div>
</article>
<h1 class="h1 text-center"> Our Collections </h1>
<div class="row">
  <div class="col-md-4">
    <div class="card card-plain card-blog mt-4">
      <div class="card-image border-radius-lg position-relative">
        <a href="javascript:;">
          <div class="blur-shadow-image">
            <img class="img border-radius-lg move-on-hover" src="./assets/img/kit/pro/anastasia.jpg">
          </div>
        </a>
      </div>
      <div class="card-body px-0">
        <h5>
          <a href="javascript:;" class="text-dark font-weight-bold">Rover raised $65 million for pet sitting</a>
        </h5>
        <p>
          Finding temporary housing for your dog should be as easy as
          renting an Airbnb. That’s the idea behind Rover ...
        </p>
        <a href="javascript:;" class="text-info icon-move-right">Read More
          <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
        <a href="javascript:;" class="d-block blur-shadow-image">
          <img src="./assets/img/kit/pro/anastasia.jpg" class="img-fluid border-radius-lg">
        </a>
      </div>

      <div class="card-body">
        <div class="w-50 mx-auto">
          <img src="./assets/img/kit/pro/anastasia.jpg" alt="" class="img-fluid">
        </div>
        <p class="card-description mb-5 mt-3">
          "Use border utilities to quickly style the border and border-radius of an element. Great for images, buttons."
        </p>
        <div class="pull-left">
          <span>―</span>
          Collin Marcus
        </div>
        <a href="javascript:;" class="text-success icon-move-right pull-right">Read More
          <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-profile card-plain">
      <div class="card-body text-center bg-white shadow border-radius-lg p-3">
        <a href="javascript:;">
          <img class="w-100 border-radius-md" src="./assets/img/kit/pro/anastasia.jpg">
        </a>
        <h5 class="mt-3 mb-1 d-md-block d-none">Natalie Paisley</h5>
        <p class="mb-1 d-md-none d-block text-sm font-weight-bold text-darker">Natalie Paisley</p>
        <p class="mb-0 text-xs font-weight-bolder text-warning text-gradient text-uppercase">Credit Analyst</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-4">
    <div class="card card-profile mt-md-0 mt-5">
      <a href="javascript:;">
        <div class="p-3">
          <img class="w-100 border-radius-md" src="./assets/img/kit/pro/anastasia.jpg">
        </div>
      </a>
      <div class="card-body blur justify-content-center text-center mx-4 mb-4 border-radius-md">
        <h4 class="mb-0">Bruce Mars</h4>
        <p>Atlanta, U.S.</p>
        <div class="row justify-content-center text-center">
          <div class="col-12 mx-auto">
            <h5 class="text-info mb-0">750</h5>
            <small>Projects</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-4">
    <div class="card card-blog card-plain">
      <div class="position-relative">
        <a class="d-block blur-shadow-image">
          <img src="./assets/img/kit/pro/anastasia.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
        </a>
      </div>
      <div class="card-body px-1 pt-3">
        <p class="text-gradient text-primary mb-2 text-sm">Entire Apartment • 2 Guests • 1 Bed</p>
        <a href="javascript:;">
          <h5>
            Cozy Double Room Near Station
          </h5>
        </a>
        <p>
          Different people have different taste, and various types of music have many ways of leaving an impact on someone.
        </p>
        <button type="button" class="btn btn-outline-primary btn-sm">From / Night</button>
      </div>
    </div>
  </div>

  <div class="col-md-8 mt-4">
    <div class="card">
      <img class="card-img-top" src="./assets/img/kit/pro/anastasia.jpg">
      <div class="card-body">
        <h4>
          Argon Dashboard
        </h4>
        <p>
          One of the most beautiful and complex UI Kits built by the team behind Creative Tim. That's pretty impressive.
        </p>
        <a href="javascript:;" class="text-primary icon-move-right">More about us
          <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

</div>
