.carousel-indicators > button {
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 10px;
}
html
{
  overflow-x: hidden;
}
.slider
{
  display: flex;
  position: absolute;
  width: 250%;
  overflow-x: hidden;
}
@keyframes moveLeftEvent{
  0% {
    transform: translate(0%);
  }
  100%{
    transform: translate(-100%);
  }
}
@keyframes moveRightEvent{
  0% {
    transform: translate(0%);
  }
  100%{
    transform: translate(100%);
  }
}


.move-left {
  animation:moveLeftEvent 1s ease-in;
  transform: translate(-100%);
}

.slider-item
{
  width: 30vw;
  display: inline-block;
  position: relative;
}
