.carousel-indicators > button {
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 10px;
  background-color:  white;
}
.slider
{
  display: block;
  align-content: center;
  height: 40vh !important;
}
