<owl-carousel-o [options]="carousel" class="bg-white">
  <ng-container *ngFor="let product of products; let i=index">
    <ng-template class="slide" [id]="i.toString()" carouselSlide>
      <div class="card ms-2 me-2 p-2" appMousePosition [id]="i / (products.length / 2)">
        <img ngSrc="{{product.image}}" class="card-img ms-auto me-auto" [width]="100" [height]="250" style="max-width: 33vh" alt="..." loading="lazy">
        <div class="mt-2">
          <h5 class="card-title text-center">{{product.title}}e</h5>
          <p class="card-text text-center">{{product.description}}</p>
          <div class="d-flex justify-content-center">
            <a class="btn btn-dark" style="background-color: #272727 " [routerLink]="['/public/ecommerce/products/' + product.slug]">Découvrir</a>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
