<div class="card mt-4" id="basic-info">
  <div class="card-header">
    <h5>Basic Info</h5>
  </div>
  <div class="card-body pt-0">
    <div class="row">
      <div class="col-6">
        <label class="form-label">First Name</label>
        <div class="input-group">
          <input id="firstName" name="firstName" class="form-control-plaintext" readonly type="text" placeholder="Alec"
                 required="required" value="{{item.first_name}}">
        </div>
      </div>
      <div class="col-6">
        <label class="form-label">Last Name</label>
        <div class="input-group">
          <input id="lastName" name="lastName" class="form-control-plaintext" readonly type="text"
                 placeholder="Thompson"
                 required="required" value="{{item.last_name}}">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="item.customerprofile !== undefined">
      <div class="col-sm-4 col-6">
        <label class="form-label mt-4">I'm</label>
        <div class="input-group">
          <input id="gender" name="lastName" class="form-control-plaintext" readonly type="text" placeholder="Thompson"
                 required="required" value="{{item.customerprofile?.gender}}">
        </div>
      </div>
      <div class="col-6">
        <label class="form-label mt-4">Email</label>
        <div class="input-group">
          <input id="email" name="email" class="form-control" type="email" placeholder="example@email.com">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label class="form-label mt-4">Your location</label>
        <div class="input-group">
          <input id="location" name="location" class="form-control" type="text" placeholder="Sydney, A">
        </div>
      </div>
      <div class="col-6">
        <label class="form-label mt-4">Phone Number</label>
        <div class="input-group">
          <input id="phone" name="phone" class="form-control" type="number" placeholder="+40 735 631 620">
        </div>
      </div>
    </div>
  </div>
</div>
