.product-list-title {
  font-family: Lucida Fax;
  font-size: 70px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 1em;
}

.product-price {
  color: #000;
  text-align: center;

  font-family: Proxima Nova, serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  text-transform: capitalize;
}

.nav-pills {
  margin-top: 2em;
}

.nav-pills > .nav-item > .nav-link {
  font-family: Proxima Nova, serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0;
  text-align: center;
}

.nav-pills > .nav-item > .nav-link {
  color: #858585;
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.nav-pills > .nav-item > .nav-link.active {
  color: #000;
}

.product-title {
  font-family: Proxima Nova;
  font-size: 26px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
}
.product-image
{
  max-width: 220px;
  max-height: 250px;
}
